*preinstalled=0

;template of danbooru engine

[main]
$picture.fields(url,preview,width:i,height:i,rating,id:i,author,score:i,posted:d,md5,source,sample_url);
$pictime = '@vartime("en-US",#created_at,"ddd mmm dd hh:nn:ss xxxxx yyyy")'; 
$picurl = '$picture%url';
$fpxml = 'xml';
$lxml = 'xml';
$fcounter = 1;
$userstring = 'user[name]';
$pwdstring = 'user[password]';
$main.checkcookie = 'login';
$main.login = '$main.url+"user/authenticate?"+$userstring+"="+$login+"&"+$pwdstring+"="+$password+"&commit=Login"';

[listscript]
$thread.url = "$main.url+'post/index.'+$fpxml+'?limit=100&tags='+@httpencode($tag)";
$thread.jsonitem = 'post';
$thread.xml = 'firstpagexml';
$thread.xmlcontent = $fpxml;
$thread.execute();
$thread.counter = $fcounter;
$thread.xml = 'listxml';
$thread.xmlcontent = $lxml;
$thread.url = "$main.url+'post/index.'+$lxml+'?limit=100&tags='+@httpencode($tag)+'&page='+$thread.counter+1";

[dwscript]
$thread.url = @calc($picurl);
$thread.referer = $main.url + 'show/' + $picture%id;

[firstpagexml]
^posts{
	$thread.count=#count/100+1;
	$thread.result=#count;
	^post{
		addpicture(
			%url=#file_url,
			%preview=#preview_url,
			%width=#width,
			%height=#height,
			%rating=#rating,
			%id=#id,
			%author=#author,
			%score=#score,
			%posted=@calc($pictime),
			%md5=#md5,
			%source=#source,
			%sample_url=#sample_url,
			%tags=csv(#tags," ")
		);
		$picture.filename = @emptyname(#file_url);
	}
}

[listxml]
^post{
	addpicture(
		%url=#file_url,
		%preview=#preview_url,
		%width=#width,
		%height=#height,
		%rating=#rating,
		%id=#id,
		%author=#author,
		%score=#score,
		%posted=@calc($pictime),
		%md5=#md5,
		%source=#source,
		%sample_url=#sample_url,
		%tags=csv(#tags," ")
	);
	$picture.filename = @emptyname(#file_url);
}