*preinstalled=0

;template of danbooru engine

[main]
$picture.fields(
	url:s:$$URL,
	preview:s:$$PREVIEW,
	sample_url:s:$$SAMPLE,
	post_url:s:$$POSTURL,
	width:i:$$WIDTH,
	height:i:$$HEIGHT,
	rating:s:$$RATING,
	id:i:$$ID,
	author:s:$$AUTHOR,
	score:i:$$SCORE,
	posted:d:$$POSTED,
	md5:s:$$MD5,
	source:s:$$SOURCE,
	aspect_ratio:f:$$ASPECTRATIO);
$pictime = '@vartime("en-US",#created_at,"ddd mmm dd hh:nn:ss xxxxx yyyy")'; 
$fileurl = '#file_url';
$previewurl = '#preview_url';
$sampleurl = '#sample_url';
$picurl = '$picture%url';
$fpxml = 'xml';
$lxml = 'xml';
$pbp = 0;
$userstring = 'user[name]';
$pwdstring = 'user[password]';
$main.checkcookie = 'login';
$main.login = '$main.url+"user/authenticate?"+$userstring+"="+$login+"&"+$pwdstring+"="+$password+"&commit=Login"';
$page = '@min(1000,#count/100+1)';
$picture.template.ext = '%ext%';
$tryext = 0;

[listscript]

?$tryext=1{$thread.tryext = "jpg,gif,png,swf";};

$thread.url = "$main.url+'post/index.'+$fpxml+'?limit=100&tags='+@httpencode($tag)";
$thread.jsonitem = 'post';
?$fpxml='json'{
	$thread.xml = 'listxml';	
}
?$fpxml!'json'{
	$thread.xml = 'firstpagexml';
}
$thread.xmlcontent = $fpxml;
$thread.execute();
$thread.xml = 'listxml';
$thread.xmlcontent = $lxml;
$thread.url = "$main.url+'post/index.'+$lxml+'?limit=100&tags='+@httpencode($tag)+'&page='+$thread.counter+1";

[dwscript]
$thread.url = @calc($picurl);
?$tryext=1{$thread.url = @changeext("%ext%",$thread.url);}
$thread.referer = $picture%post_url;

[firstpagexml]
^posts{
	?$fpxml!'json'{
		$thread.count=@calc($page);
		$thread.result=#count;
	}
	^post{
		addpicture(
			%url=@calc($fileurl),
			%preview=@calc($previewurl),
			%sample_url=@calc($sampleurl),
			%post_url=$main.url+'post/show/'+#id,
			%width=#width,
			%height=#height,
			%rating=#rating,
			%id=#id,
			%author=#author,
			%score=#score,
			%posted=@calc($pictime),
			%md5=#md5,
			%source=#source,
			%aspect_ratio=@ifempty(#width,0)/@ifempty(#height,1),
			%tags=csv(#tags," ")
		);
		?$tryext=1{$picture.filename = @changeext("%ext%",@emptyname(@calc($fileurl)));}
		?$tryext=0{$picture.filename = @emptyname(@calc($fileurl));}
	}
}

[listxml]

$ok = 0;

^post{
	addpicture(
		%url=@calc($fileurl),
		%preview=@calc($previewurl),
		%sample_url=@calc($sampleurl),
		%post_url=$main.url+'post/show/'+#id,
		%width=#width,
		%height=#height,
		%rating=#rating,
		%id=#id,
		%author=#author,
		%score=#score,
		%posted=@calc($pictime),
		%md5=#md5,
		%source=#source,
		%aspect_ratio=@ifempty(#width,0)/@ifempty(#height,1),
		%tags=csv(#tags," ")
	);
	?$tryext=1{$picture.filename = @changeext("%ext%",@emptyname(@calc($fileurl)));}
	?$tryext=0{$picture.filename = @emptyname(@calc($fileurl));}
	$ok = 1;
}

?($pbp=1)&($ok=1){
	$thread.count = $thread.counter + 2; 
}