*preinstalled=0

;template of danbooru engine

[main]
$main.cheatsheet = "http://danbooru.donmai.us/help/cheatsheet";
$main.keywordhint = "tag: tag_1 tag_2";

$picture.fields(
	url:s:$$URL,
	preview:s:$$PREVIEW,
	sample_url:s:$$SAMPLE,
	post_url:s:$$POSTURL,
	width:i:$$WIDTH,
	height:i:$$HEIGHT,
	rating:s:$$RATING,
	id:i:$$ID,
	author:s:$$AUTHOR,
	score:i:$$SCORE,
	posted:d:$$POSTED,
	md5:s:$$MD5,
	source:s:$$SOURCE,
	aspect_ratio:f:$$ASPECTRATIO,
	album_id:i,
	album:s,
	album_url:s);


$picture.exif.author = "%author";
$picture.exif.theme = "%album"; 
$picture.exif.comment = "%post_url";
$picture.exif.keywords = "@picture.tags(';')";

$linkrel = "last";
$pictime = '@vartime("en-US",#created_at,"ddd mmm dd hh:nn:ss xxxxx yyyy")'; 
$fileurl = '#file_url';
$previewurl = '#preview_url';
$sampleurl = '#sample_url';
$picurl = '$picture%url';
$fpxml = 'xml';
$lxml = 'xml';
$pbp = 0;
$userstring = 'user[name]';
$pwdstring = 'user[password]';
$main.checkcookie = 'login';
$main.login = '$main.url+"user/authenticate?"+$userstring+"="+$login+"&"+$pwdstring+"="+$password+"&commit=Login"';
$maxpage = 1000;
$pool_post_per_page = 24;

$picture.template.ext = '%ext%';
$tryext = 0;
$GUImode = 0;

$gui_thumbs_dir = 'preview/';
$gui_images_dir = '';
$gui_thumbs_part = '';
$gui_images_part = '';


@addfield("src","Source","indexlistbox",0,"Posts","Pool ID");

[listscript]

;unknown ext mode;
?$tryext=1{$thread.tryext = "jpg,gif,png,swf";};

;XML API mode
?($GUImode=0){
	$thread.url = "$main.url+'post/index.'+$fpxml+'?limit=100&tags='+@httpencode($tag)";
	$thread.jsonitem = 'post';

	;non-Pools
	?$src=0{
		;non-JSON firstpage
		?$fpxml!'json'{
			?$pbp=0{ $thread.xml = 'firstpagexml'; }
			?$pbp!0{ $thread.xml = 'listxml'; }
		}

		;JSON firstpage
		?$fpxml='json'{
			$thread.xml = 'listxml';	
		}

		$thread.xmlcontent = $fpxml;
		$thread.execute();
		$thread.xml = 'listxml';
		$thread.xmlcontent = $lxml;
		$thread.url = "$main.url+'post/index.'+$fpxml+'?limit=100&tags='+@httpencode($tag)+'&page='+$thread.counter+1";
	}

	;Pools
	?$src=1{
		$thread.xmlcontent = 'xml';
		$thread.xml = 'poolxml';
		$thread.url = "'"+$main.url+"pool/show.xml?id="+@httpencode($tag)+"'";
		@thread.execute;
		$thread.url = "'"+$main.url+"pool/show.xml?id="+@httpencode($tag)+"&page='+$thread.counter+1";		
	}
}

;GUI HTML mode
?($src=0)&($GUImode!0){
	$thread.xmlcontent = 'html';
	$thread.url = "$main.url+'post?tags='+@httpencode($tag)";
	$thread.xml = "listgui";
	@thread.execute;
	$thread.url = "$main.url+'post?tags='+@httpencode($tag)+'&page='+$thread.counter+1";

}

[dwscript]
$thread.url = @calc($picurl);
?$tryext=1{$thread.url = @changeext("%ext%",$thread.url);}
$thread.referer = $picture%post_url;

[firstpagexml]

^posts{
	?$fpxml!'json'{
		?$main.pagebypage=0{
			$thread.count=@min($maxpage,#count/100+1);
			$thread.result=#count;
		}
	}
	^post{
		@addpicture(
			%url=@calc($fileurl),
			%preview=@calc($previewurl),
			%sample_url=@calc($sampleurl),
			%post_url=$main.url+'post/show/'+#id,
			%width=#width,
			%height=#height,
			%rating=#rating,
			%id=#id,
			%author=#author,
			%score=#score,
			%posted=@calc($pictime),
			%md5=#md5,
			%source=#source,
			%aspect_ratio=@ifempty(#width,0)/@ifempty(#height,1),
			%tags=csv(#tags," ")
		);
		?$tryext=1{$picture.filename = @changeext("%ext%",@emptyname(@calc($fileurl)));}
		?$tryext=0{$picture.filename = @emptyname(@calc($fileurl));}
	}
}

[listxml]

$ok = 0;

^post{
	@addpicture(
		%url=@calc($fileurl),
		%preview=@calc($previewurl),
		%sample_url=@calc($sampleurl),
		%post_url=$main.url+'post/show/'+#id,
		%width=#width,
		%height=#height,
		%rating=#rating,
		%id=#id,
		%author=#author,
		%score=#score,
		%posted=@calc($pictime),
		%md5=#md5,
		%source=#source,
		%aspect_ratio=@ifempty(#width,0)/@ifempty(#height,1),
		%tags=csv(#tags," ")
	);
	?$tryext=1{$picture.filename = @changeext("%ext%",@emptyname(@calc($fileurl)));}
	?$tryext=0{$picture.filename = @emptyname(@calc($fileurl));}
	$ok = 1;
}

?($pbp=1)&($ok=1){
	$thread.count = $thread.counter + 2; 
}

[poolxml]

^pool{
	$thread.count=@min($maxpage,#post_count/$pool_post_per_page+1);
	$thread.result=#post_count;

	$pool_id = #id;
	$pool_name = @replace(" ","_",#name);
	$pool_url = $main.url + 'pool/show?id=' + #id;
	^post{
		@addpicture(
			%url=@calc($fileurl),
			%preview=@calc($previewurl),
			%sample_url=@calc($sampleurl),
			%post_url=$main.url+'post/show/'+#id,
			%width=#width,
			%height=#height,
			%rating=#rating,
			%id=#id,
			%author=#author,
			%score=#score,
			%posted=@calc($pictime),
			%md5=#md5,
			%source=#source,
			%aspect_ratio=@ifempty(#width,0)/@ifempty(#height,1),
			%tags=csv(#tags," "),
			%album_url = $pool_url,
			%album_id = $pool_id,
			%album = $pool_name
		);
		?$tryext=1{$picture.filename = @changeext("%ext%",@emptyname(@calc($fileurl)));}
		?$tryext=0{$picture.filename = @emptyname(@calc($fileurl));}
	}
}

[listgui]

^head{
	^link#rel=$linkrel{
		$thread.count = @min($maxpage,@urlvar("page",#href));
	}
}

^div#class="pagination"{
	^a{?$thread.count < @urlvar("page",#href){$thread.count = @urlvar("page",#href);}}
}

^div#class="content"{
	^div{^div#id="popular-preview"{}

	^{^span#class="thumb"{
			$id = @copyfrom("p",#id);
			^a{
				$post_url = #href;

				^img{?@pos(#src,"download-preview.png")=0{
					addpicture(
						%url=@replace($gui_images_part,$gui_thumbs_part,@replace($gui_images_dir,$gui_thumbs_dir,@removevars(#src))),
						%preview=#src,
						%post_url=$main.url+@trim($post_url,"/"),
						%rating=@trim(@copyfromtoex(" ","rating:",#title + " ")),
						%score=@trim(@copyfromtoex(" ","score:",#title + " ")),
						%id=$id,
						%author = @trim(@copyfromtoex(" ","user:",#title + " ")),
						%tags=csv(@trim(@copyto("score:",#title))," ")
					);
					?$tryext=1{$picture.filename = @changeext("%ext%",@emptyname($picture%url));}
					?$tryext=0{$picture.filename = @emptyname(@emptyname($picture%url));}
				}}
			}
		}
	}}
}