*preinstalled=0

;template of gelbooru engine

[main]
$picture.fields(url,preview,width:i,height:i,rating,id:i,posted:d,md5,sample_url);

[listscript]
$thread.url = "$main.url+'index.php?page=dapi&s=post&q=index&tags='+$tag";
$thread.xml = 'firstpagexml';
$thread.execute();
$thread.xml = 'listxml';
$thread.url = "$main.url+'index.php?page=dapi&s=post&q=index&tags='+$tag+'&pid='+$thread.counter";

[dwscript]
$thread.url = $picture%url;

[firstpagexml]
^posts{
	$thread.count=#count/100+1;
	^post{
		addpicture(
			%url=#file_url,
			%preview=#preview_url,
			%width=#width,
			%height=#height,
			%rating=#rating,
			%id=#id,
			%posted=@vartime("en-US",#created_at,"ddd mmm dd hh:nn:ss xxxxx yyyy"),
			%md5=#md5,
			%sample_url=#sample_url,
			%tags=csv(#tags," ")
		);
		$picture.filename = @emptyname(#file_url);
	}
}

[listxml]
^posts{
	^post{
		addpicture(
			%url=#file_url,
			%preview=#preview_url,
			%width=#width,
			%height=#height,
			%rating=#rating,
			%id=#id,
			%posted=@vartime("en-US",#created_at,"ddd mmm dd hh:nn:ss xxxxx yyyy"),
			%md5=#md5,
			%sample_url=#sample_url,
			%tags=csv(#tags," ")
		);
		$picture.filename = @emptyname(#file_url);
	}
}