ZGLIST8 Icon "ico\\anim\\getlist\\9.ico"
ZGLIST7 Icon "ico\\anim\\getlist\\8.ico"
ZGLIST6 Icon "ico\\anim\\getlist\\7.ico"
ZGLIST5 Icon "ico\\anim\\getlist\\6.ico"
ZGLIST4 Icon "ico\\anim\\getlist\\5.ico"
ZGLIST3 Icon "ico\\anim\\getlist\\4.ico"
ZGLIST2 Icon "ico\\anim\\getlist\\3.ico"
ZGLIST1 Icon "ico\\anim\\getlist\\2.ico"
ZGLIST0 Icon "ico\\anim\\getlist\\1.ico"
ZIMAGE Icon "pics\\images.ico"
ZLOADING RCData "pics\\loading.gif"
ZLAIN1 RCData "pics\\lain2_121px.png"
ZLAIN2 RCData "pics\\lain3_121px.png"
ZLAIN3 RCData "pics\\lain4.png"
ZLAIN4 RCData "pics\\lain5.png"
ZLAIN5 RCData "pics\\lain6.png"
ZLAIN6 RCData "pics\\lain7.png"
ZLAIN7 RCData "pics\\lain8.png"
ZLAIN8 RCData "pics\\lain9.png"
ZLAIN9 RCData "pics\\lain10.png"
ZLAIN10 RCData "pics\\lain11.png"
ZLAIN11 RCData "pics\\lain12.png"
ZLAIN0 RCData "pics\\lain121px.png"
ZOK RCData "pics\\ok.png"
ZICON Icon "ico\\16.ico"
ZGLISTERROR Icon "ico\\anim\\getlist\\error.ico"
ZDBG RCData "ico\\anim\\downloading\\bg.png"
ZD9 RCData "ico\\anim\\downloading\\9.png"
ZD8 RCData "ico\\anim\\downloading\\8.png"
ZD7 RCData "ico\\anim\\downloading\\7.png"
ZD6 RCData "ico\\anim\\downloading\\6.png"
ZD5 RCData "ico\\anim\\downloading\\5.png"
ZD4 RCData "ico\\anim\\downloading\\4.png"
ZD3 RCData "ico\\anim\\downloading\\3.png"
ZD2 RCData "ico\\anim\\downloading\\2.png"
ZD0 RCData "ico\\anim\\downloading\\0.png"
ZD1 RCData "ico\\anim\\downloading\\1.png"
ZTAO RCData "pics\\tao4.png"
ZNOTHING RCData "pics\\nothingfound.png"
ZERROR RCData "pics\\error.png"
ZNYA RCData "pics\\nya.png"
